DATABASE=postgres://postgres:postgres@pgsql:5432/rate-and-blocks?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=$DATABASE
GOOSE_MIGRATION_DIR="./db/migrations"


DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=rate-and-blocks

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=null
REDIS_PASSWORD=null
REDIS_DATABASE=0

SERVER_PORT=9999
LOG_LEVEL=debug
